@import '@styles/base';

.forget {
  @include directionX;
  justify-content: end;
  font-size: 13px;
  cursor: pointer;
}

.footer {
  @include directionX;
  width: 100%;
  justify-content: center;
  font-size: 15px;
}
